#  Assignment 7

In [1]:
import pandas as pd
import numpy as np
print("\nQuestion 1 output\n")
data = {'labels': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
        'name': ['Amy', 'Dinesh', 'Kelly', 'Jenny', 'Vinod', 'Kevin', 'Thor', 'Lisa', 'Kate',
                 'Simpson'],
        'score': [11.5, 7, 16.5, np.nan, 8, 21, 14.5, np.nan, 9, 18],
        'attempts': [3, 2, 1, 3, 2, 2, 13, 1, 1, 7]}
exam_data = pd.DataFrame(data)
print("\nBefore Deletion\n")
print(exam_data)
del exam_data['attempts']
print("\nAfter Deletion\n")
print(exam_data)

Question 1 output


Before Deletion

   attempts labels     name  score
0         3      a      Amy   11.5
1         2      b   Dinesh    7.0
2         1      c    Kelly   16.5
3         3      d    Jenny    NaN
4         2      e    Vinod    8.0
5         2      f    Kevin   21.0
6        13      g     Thor   14.5
7         1      h     Lisa    NaN
8         1      i     Kate    9.0
9         7      j  Simpson   18.0

After Deletion

  labels     name  score
0      a      Amy   11.5
1      b   Dinesh    7.0
2      c    Kelly   16.5
3      d    Jenny    NaN
4      e    Vinod    8.0
5      f    Kevin   21.0
6      g     Thor   14.5
7      h     Lisa    NaN
8      i     Kate    9.0
9      j  Simpson   18.0

# Question 2

In [2]:
browser_data = {'index': ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror'],
                'http_status': ['301', '200', '404', '404', '200'],
                'resonse_time': [1.00, 0.02, 0.08, 0.07, 0.04]
                }
Browser = pd.DataFrame(browser_data).set_index('index')
print("\nOlder Index:\n", Browser)
new_index = ['Iceweasel', 'Safari', 'IE 10', 'Chrome', 'Comodo Dragon']
Browser.index = new_index
print("\nNew Index:\n", Browser)

Older Index:
           http_status  resonse_time
index
Firefox           301          1.00
Chrome            200          0.02
Safari            404          0.08
IE10              404          0.07
Konqueror         200          0.04

New Index:
               http_status  resonse_time
Iceweasel             301          1.00
Safari                200          0.02
IE 10                 404          0.08
Chrome                404          0.07
Comodo Dragon         200          0.04


# Question 3

In [3]:
emp_data = {'Name': ['Dulkar', 'Lal', 'Abhi', 'Judy'],
            'Age': [34, 76, 68, 25],
            'Year of joining': ['02-06-2000', '26-03-1994', '18-11-2002', '06-02-2010']}
employees = pd.DataFrame(emp_data)
print("Data having Age>=68\n")
print (employees[employees['Age']>=68])

Data having Age>=68

   Age  Name Year of joining
1   76   Lal      26-03-1994
2   68  Abhi      18-11-2002

# Question 4 (A)

In [4]:
sample_data = {
    'Origin': ['Oregon', 'Wyoming', 'Louisiana', 'Georgia', 'Arizona', 'California', 'Texas', 'Florida',
               'Maine', 'Iowa', 'Alaska', 'Washington'],
    'Regiment': ['Scouts', 'Scouts', 'Scouts', 'Scouts', 'Nighthawks', 'Nighthawks', 'Nighthawks',
                 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons'],
    'Company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd'],
    'Deaths': [62, 73, 37, 35, 523, 52, 25, 616, 43, 234, 523, 62],
    'Battles': [4, 7, 8, 9, 5, 42, 2, 2, 4, 7, 8, 3],
    'Size': [973, 1005, 1099, 1523, 1045, 957, 1099, 1400, 1592, 1006, 987, 849],
    'Veterans': [48, 435, 63, 345, 1, 5, 62, 26, 73, 37, 949, 48],
    'Readiness': [2, 1, 2, 3, 1, 2, 3, 3, 2, 1, 2, 3],
    'Armored': [0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, ],
    'Deserters': [2, 3, 2, 3, 4, 24, 31, 2, 3, 4, 24, 31],
}
Army = pd.DataFrame(sample_data)
print (Army)

    Armored  Battles Company  Deaths  Deserters      Origin  Readiness  \
0         0        4     1st      62          2      Oregon          2
1         0        7     1st      73          3     Wyoming          1
2         1        8     2nd      37          2   Louisiana          2
3         1        9     2nd      35          3     Georgia          3
4         1        5     1st     523          4     Arizona          1
5         0       42     1st      52         24  California          2
6         1        2     2nd      25         31       Texas          3
7         1        2     2nd     616          2     Florida          3
8         0        4     1st      43          3       Maine          2
9         1        7     1st     234          4        Iowa          1
10        0        8     2nd     523         24      Alaska          2
11        1        3     2nd      62         31  Washington          3

      Regiment  Size  Veterans
0       Scouts   973        48
1       Scouts  1005       435
2       Scouts  1099        63
3       Scouts  1523       345
4   Nighthawks  1045         1
5   Nighthawks   957         5
6   Nighthawks  1099        62
7   Nighthawks  1400        26
8     Dragoons  1592        73
9     Dragoons  1006        37
10    Dragoons   987       949
11    Dragoons   849        48

# Question 4 (B)

In [5]:
print("\nQuestion 4 b output\n")
Army = Army.set_index('Origin')
print("Setting index to Origin")
print(Army)

Question 4 b output

Setting index to Origin
            Armored  Battles Company  Deaths  Deserters  Readiness  \
Origin
Oregon            0        4     1st      62          2          2
Wyoming           0        7     1st      73          3          1
Louisiana         1        8     2nd      37          2          2
Georgia           1        9     2nd      35          3          3
Arizona           1        5     1st     523          4          1
California        0       42     1st      52         24          2
Texas             1        2     2nd      25         31          3
Florida           1        2     2nd     616          2          3
Maine             0        4     1st      43          3          2
Iowa              1        7     1st     234          4          1
Alaska            0        8     2nd     523         24          2
Washington        1        3     2nd      62         31          3

              Regiment  Size  Veterans
Origin
Oregon          Scouts   973        48
Wyoming         Scouts  1005       435
Louisiana       Scouts  1099        63
Georgia         Scouts  1523       345
Arizona     Nighthawks  1045         1
California  Nighthawks   957         5
Texas       Nighthawks  1099        62
Florida     Nighthawks  1400        26
Maine         Dragoons  1592        73
Iowa          Dragoons  1006        37
Alaska        Dragoons   987       949
Washington    Dragoons   849        48

# Question 4 (C)

In [7]:
# Lookup using loc()
print(Army.loc[['Georgia','Florida','California'],['Regiment','Deaths','Size']])

              Regiment  Deaths  Size
Origin
Georgia         Scouts      35  1523
Florida     Nighthawks     616  1400
California  Nighthawks      52   957

# Question 4 (D)

In [8]:
# Looking up the labels and indices using iloc()
print(" The rows from 2 to 8 and the columns from 3 to 6\n")
print(Army.iloc[2:8,3:6])

 The rows from 2 to 8 and the columns from 3 to 6

            Deaths  Deserters  Readiness
Origin
Louisiana       37          2          2
Georgia         35          3          3
Arizona        523          4          1
California      52         24          2
Texas           25         31          3
Florida        616          2          3

# Question 4 (E)

In [9]:
print("Every row after the third row\n")
# Simlpy slicing the list using iloc
print(Army.iloc[::3])

Every row after the third row

         Armored  Battles Company  Deaths  Deserters  Readiness    Regiment  \
Origin
Oregon         0        4     1st      62          2          2      Scouts
Georgia        1        9     2nd      35          3          3      Scouts
Texas          1        2     2nd      25         31          3  Nighthawks
Iowa           1        7     1st     234          4          1    Dragoons

         Size  Veterans
Origin
Oregon    973        48
Georgia  1523       345
Texas    1099        62
Iowa     1006        37

# Question 4 (F)

In [10]:
# Slicing columns and selecting all rows using iloc
print("The columns from 4 to 8\n")
print(Army.iloc[:,4:8])

The columns from 4 to 8

            Deserters  Readiness    Regiment  Size
Origin
Oregon              2          2      Scouts   973
Wyoming             3          1      Scouts  1005
Louisiana           2          2      Scouts  1099
Georgia             3          3      Scouts  1523
Arizona             4          1  Nighthawks  1045
California         24          2  Nighthawks   957
Texas              31          3  Nighthawks  1099
Florida             2          3  Nighthawks  1400
Maine               3          2    Dragoons  1592
Iowa                4          1    Dragoons  1006
Alaska             24          2    Dragoons   987
Washington         31          3    Dragoons   849

# Question 4 (G)

In [11]:
print("Rows where  Battles are greater than 5\n")
print(Army[Army['Battles']>=5])

Rows where  Battles are greater than 5

            Armored  Battles Company  Deaths  Deserters  Readiness  \
Origin
Wyoming           0        7     1st      73          3          1
Louisiana         1        8     2nd      37          2          2
Georgia           1        9     2nd      35          3          3
Arizona           1        5     1st     523          4          1
California        0       42     1st      52         24          2
Iowa              1        7     1st     234          4          1
Alaska            0        8     2nd     523         24          2

              Regiment  Size  Veterans
Origin
Wyoming         Scouts  1005       435
Louisiana       Scouts  1099        63
Georgia         Scouts  1523       345
Arizona     Nighthawks  1045         1
California  Nighthawks   957         5
Iowa          Dragoons  1006        37
Alaska        Dragoons   987       949

# Question 4 (H)

In [12]:
print("Rows where Deaths are greater than 500 or less than 50\n")
print(Army[(Army['Deaths'] > 500) | (Army['Deaths'] < 50)])

Rows where Deaths are greater than 500 or less than 50

           Armored  Battles Company  Deaths  Deserters  Readiness    Regiment  \
Origin
Louisiana        1        8     2nd      37          2          2      Scouts
Georgia          1        9     2nd      35          3          3      Scouts
Arizona          1        5     1st     523          4          1  Nighthawks
Texas            1        2     2nd      25         31          3  Nighthawks
Florida          1        2     2nd     616          2          3  Nighthawks
Maine            0        4     1st      43          3          2    Dragoons
Alaska           0        8     2nd     523         24          2    Dragoons

           Size  Veterans
Origin
Louisiana  1099        63
Georgia    1523       345
Arizona    1045         1
Texas      1099        62
Florida    1400        26
Maine      1592        73
Alaska      987       949

# Question 4 (I)

In [13]:
# Negation using ~ operator
print("All the regiments except 'Scouts\n")
print(Army[~(Army['Regiment'] == 'Scouts')])

All the regiments except 'Scouts

            Armored  Battles Company  Deaths  Deserters  Readiness  \
Origin
Arizona           1        5     1st     523          4          1
California        0       42     1st      52         24          2
Texas             1        2     2nd      25         31          3
Florida           1        2     2nd     616          2          3
Maine             0        4     1st      43          3          2
Iowa              1        7     1st     234          4          1
Alaska            0        8     2nd     523         24          2
Washington        1        3     2nd      62         31          3

              Regiment  Size  Veterans
Origin
Arizona     Nighthawks  1045         1
California  Nighthawks   957         5
Texas       Nighthawks  1099        62
Florida     Nighthawks  1400        26
Maine         Dragoons  1592        73
Iowa          Dragoons  1006        37
Alaska        Dragoons   987       949
Washington    Dragoons   849        48

# Question 4 (J)

In [14]:
# using ix() for interacting rows and column and selecting a cell
print("Little Bit Confusion in the indexing so printed both\n")
print(Army.loc['Alaska'][2])
print(Army.loc['Alaska'][3])

Little Bit Confusion in the indexing so printed both

2nd
523